[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = "==17.3.0"
django = "==2.0"
djangorestframework = "==3.7.3"
pluggy = "==0.6.0"
py = "==1.5.2"
pytest = "==3.3.1"
pytest-django = "==3.1.2"
pytz = "==2017.3"


[dev-packages]

ipdb = "*"
pytest-django = "*"


[requires]

python_version = "3.6"
