# Django
Django==2.2.8
django-cors-headers==3.0.2

# DRF
djangorestframework==3.9.4

# Testing
pytest==4.6.3
pytest-django==3.5.0
mock==3.0.5
pytest-mock==1.10.4

# Distribution
twine==1.13.0
wheel==0.33.4

# Misc
requests==2.22.0
